<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCopeRules" Description="StyleCopeRules custom ruleset" ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1804" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS8618" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CS0169" Action="Error" />
    <Rule Id="CS1591" Action="None" />
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1002" Action="Error" />
    <Rule Id="SA1005" Action="None" />
    <Rule Id="SA1010" Action="Error" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1120" Action="Error" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1123" Action="Error" />
    <Rule Id="SA1129" Action="Error" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="Error" />
    <Rule Id="SA1204" Action="Error" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1303" Action="Error" />
    <Rule Id="SA1306" Action="Error" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1401" Action="Error" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1500" Action="Error" />
    <Rule Id="SA1502" Action="Error" />
    <Rule Id="SA1507" Action="Error" />
    <Rule Id="SA1508" Action="Error" />
    <Rule Id="SA1512" Action="Error" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="None" />
    <Rule Id="SA1518" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="CA2017" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="CS0168" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1642" Action="None" />
  </Rules>
</RuleSet>